# SQL:

Yuanfeng Li 
2021/07/22

### Review support materials:
- [sql 复习汇总](https://zhuanlan.zhihu.com/p/43810990)
- [Leetcode Database 全部练习题及题解](https://zhuanlan.zhihu.com/p/265247944)

In [ ]:
# 175, combine two tables:
# My Answer is wrong, because I did not understand 'regardless if there is an address for each of those people'
# Correct Answer: 

# Write your MySQL query statement below
SELECT P.FirstName, P.LastName, A.City, A.State
FROM Person as P LEFT JOIN Address as A
ON P.PersonId = A.PersonId;

In [ ]:
# 176:

# Leetcode answer:
SELECT
 (SELECT DISTINCT Salary
  FROM Employee
  ORDER BY Salary DESC
  LIMIT 1 OFFSET 1) 
AS SecondHighestSalary;

# my version 1 year ago
# Write your MySQL query statement below
SELECT IFNULL(
    (SELECT DISTINCT Salary 
    FROM Employee 
    ORDER BY Salary DESC
    LIMIT 1 OFFSET 1), NULL
) AS SecondHighestSalary;


# my current version is not right, 
# I forget that limit 1 offset 1
SELECT DISTINCT Salary AS SecondHighestSalary
  FROM Employee
  ORDER BY Salary DESC
  LIMIT 1 OFFSET 1
# this one will not return null, it will return an empty

In [ ]:
# 177
# tutorial url: https://www.mysqltutorial.org/mysql-limit.aspx

CREATE FUNCTION getNthHighestSalary(N INT) RETURNS INT
BEGIN
    DECLARE temp INTEGER;
    SET temp = N-1;
  RETURN (
      # Write your MySQL query statement below.
      SELECT IFNULL(
          (SELECT DISTINCT Salary 
           FROM Employee 
           ORDER BY Salary DESC 
           LIMIT temp,1), 
          NULL)
  );
END

In [ ]:
# 178 Medium:
SELECT Score,
DENSE_RANK() OVER(ORDER BY Score DESC) AS 'Rank'
FROM Scores

# 非常好的学西链接：https://zhuanlan.zhihu.com/p/135119865
# 讲述了 rank(), Dense_Rank(), Row_number() 的不同！

In [ ]:
# 180： M
# Lead() and Lag()
SELECT DISTINCT Num AS ConsecutiveNums FROM(
    SELECT Num,
    LEAD(Num, 1) OVER(ORDER BY id) AS lead1,
    LEAD(Num, 2) OVER(ORDER BY id) AS lead2
    FROM Logs
) AS lg
WHERE Num = lead1
AND Num = lead2


# or Leetcode solution:
SELECT *
FROM
Logs l1,
Logs l2,
Logs l3
WHERE
l1.Id = l2.Id - 1
AND l2.Id = l3.Id - 1
AND l1.Num = l2.Num
AND l2.Num = l3.Num

In [ ]:
# 181.

# 自己写的：
/* Write your T-SQL query statement below * /
SELECT A.Name AS Employee
FROM Employee as A
INNER JOIN Employee as B
ON A.ManagerId = B.Id
WHERE A.Salary > B.Salary

# 分类：
- Join的应用：
    - 175 ez
    - 181 ez

- 多个select:
    - 176 ez
    
- Create Function:
    - 177 med
    - 

- 窗口函数：
    - 复习学习链接：https://zhuanlan.zhihu.com/p/250429998
    - 178 ez (DENSE_RANK())
    - 180 md (LEAD(,))

In [ ]:
# 1241. Number of Comments per post